Repository cancervariants/gene-normalization, pull requests merged in 2023-04, with the labels that each got.

#182 docs: make separate sphinx docs
  .github/workflows/github-actions.yml
  .gitignore
  Pipfile
  README.md
  docs/Makefile
  docs/make.bat
  docs/source/api/api.rst
  docs/source/api/database_api.rst
  docs/source/api/dynamodb_api.rst
  docs/source/api/etl_api.rst
  docs/source/api/postgres_api.rst
  docs/source/api/query_api.rst
  docs/source/conf.py
  docs/source/contributing.rst
  docs/source/full_install.rst
  docs/source/index.rst
  docs/source/managing_data/dynamodb.rst
  docs/source/managing_data/index.rst
  docs/source/managing_data/loading_and_updating_data.rst
  docs/source/managing_data/postgresql.rst
  docs/source/normalization.rst
  docs/source/quick_install.rst
  docs/source/search_capabilities.rst
  gene/__init__.py
  gene/cli.py
  gene/etl/base.py
  gene/etl/ensembl.py
  gene/etl/hgnc.py
  gene/etl/merge.py
  gene/etl/ncbi.py
  gene/etl/vrs_locations/chromosome_location.py
  gene/etl/vrs_locations/sequence_location.py
  gene/query.py
  requirements-dev.txt
  requirements.txt
  setup.cfg
Labels: priority:low

#187 refactor: rename SEQREPO_DATA_PATH --> SEQREPO_ROOT_DIR (staging)
  README.md
  gene/__init__.py
  gene/etl/base.py
  gene/version.py
Labels: priority:low, technical debt

#189 build: update ga4gh packages to use VRS 1.3 models
  Pipfile
  gene/version.py
  requirements-dev.txt
  requirements.txt
  setup.cfg
Labels: priority:medium, build

#190 docs: make separate sphinx docs
  .github/workflows/github-actions.yml
  .gitignore
  Pipfile
  README.md
  docs/Makefile
  docs/make.bat
  docs/source/api/api.rst
  docs/source/api/database_api.rst
  docs/source/api/dynamodb_api.rst
  docs/source/api/etl_api.rst
  docs/source/api/postgres_api.rst
  docs/source/api/query_api.rst
  docs/source/conf.py
  docs/source/contributing.rst
  docs/source/full_install.rst
  docs/source/index.rst
  docs/source/managing_data/dynamodb.rst
  docs/source/managing_data/index.rst
  docs/source/managing_data/loading_and_updating_data.rst
  docs/source/managing_data/postgresql.rst
  docs/source/normalization.rst
  docs/source/quick_install.rst
  docs/source/search_capabilities.rst
  gene/__init__.py
  gene/cli.py
  gene/etl/base.py
  gene/etl/ensembl.py
  gene/etl/hgnc.py
  gene/etl/merge.py
  gene/etl/ncbi.py
  gene/etl/vrs_locations/chromosome_location.py
  gene/etl/vrs_locations/sequence_location.py
  gene/query.py
  requirements-dev.txt
  requirements.txt
  setup.cfg
Labels: priority:low
